<div class="xl:bg-[url('/assets/img/background-fade.svg')] bg-cover bg-top bg-no-repeat">
    <div class="w-full lg:min-h-screen flex lg:justify-between xl:pt-0 pt-40 flex-col xl:flex-row items-center">
        <div class="flex flex-col max-w-lg justify-center xl:items-start xl:text-left items-center text-center lg:justify-start gap-5 xl:ml-16 px-5 md:px-0">
            <h1 class="font-bold text-5xl md:text-7xl">Fenito Media</h1>
            <p class="text-xl text-gray-600"><em>"Bringing your vision to life, one frame at a time."</em></p>
            <p class="font-semibold"><span class="text-[#2A93D5]">Fenito Media</span> is an innovative video production company that creates compelling visual content for businesses and individuals.<br>Let us help you <span class="text-[#2A93D5]">tell your story with the power of a video.</span></p>
            <div class="mt-5 flex flex-col md:flex-row text-center gap-2 md:gap-10">
                <a href="/work" class="rounded text-white uppercase font-bold px-5 py-2 bg-[#2A93D5] shadow-lg">see our work</a>
                <a href="/contact-us" class="rounded text-[#2A93D5] uppercase font-bold px-5 py-2 border-[#2A93D5] border-2 box-border shadow-lg">contact us</a>
            </div>
        </div>
        <div class="w-1/2 flex justify-center py-20 items-center">
            {{ partial:showcase-cards }}
        </div>
    </div>
</div>