<nav class="absolute w-full top-0 left-0 z-30" role="navigation" x-data="{ open: window.innerWidth >= 768, width: window.innerWidth }" @resize.window.debounce.100="width = window.innerWidth; open = width >= 768">

    <div class="w-full flex flex-col md:flex-row md:items-center md:justify-between" id="nav-wrapper">

        <div class="w-full bg-white md:bg-transparent h-14 md:h-auto flex justify-between items-center md:px-3 md:mx-6">
            <a class="p-2 z-30" href="/"><img class="z-30 ml-3 md:w-24 w-10" src="/assets/img/fnt-logo-ohne-schrift.svg" alt="Fenito"
                    title="Fenito"></a>
                    <button class="w-14 h-10 relative mr-5 focus:outline-none md:hidden z-20" @click="open = !open">
                        <div class="block w-5 absolute left-1/2 top-1/2   transform  -translate-x-1/2 -translate-y-1/2">
                            <span aria-hidden="true"
                                class="block absolute h-1 w-9 bg-current transform transition duration-500 ease-in-out rounded"
                                :class="{'rotate-45': open,' -translate-y-2.5': !open }"></span>
                            <span aria-hidden="true"
                                class="block absolute  h-1 w-9 bg-current   transform transition duration-500 ease-in-out rounded"
                                :class="{'opacity-0': open } "></span>
                            <span aria-hidden="true"
                                class="block absolute  h-1 w-9 bg-current transform  transition duration-500 ease-in-out rounded"
                                :class="{'-rotate-45': open, ' translate-y-2.5': !open}"></span>
                        </div>
                    </button>
        </div>
        <div class="bg-[#D1EBFF] md:bg-transparent py-4 px-12 z-10" x-show="open" x-collapse>
            <ul class="flex flex-col gap-8 md:flex-row">
            {{ nav:header }}
            <li><a href="{{ url }}"  class="text-xl hover:border-b-2 hover:border-black {{ if is_current || is_parent }}text-[#2A93D5]{{ else }}text-black{{ endif }}">{{ title }}</a></li>
                {{ /nav:header }}
            </ul>
        </div>

    </div>
</nav>

<style>
    .fs-toggler {
        position: absolute;
        top: 1.8rem;
        right: 0.5rem;
        transform: translate(-50%, -50%);
        width: 1.6rem;
        cursor: pointer;
    }

    .toggle-span {
        display: block;
        width: 100%;
        border-radius: 3px;
        height: 0.25rem;
        background: #000;
        transition: all .3s;
        position: relative;
    }
</style>