<nav class="absolute w-full top-0 left-0 z-30" role="navigation" x-data="{ open: window.innerWidth >= 768, width: window.innerWidth }" @resize.window.debounce.100="width = window.innerWidth; open = width >= 768">

    <div class="w-full flex flex-col md:flex-row md:items-center md:justify-between" id="nav-wrapper">

        <div class="w-full bg-white md:bg-transparent h-14 md:h-auto flex justify-between items-center md:px-3 md:mx-6">
            <a class="p-2 z-30" href="/"><img class="z-30 ml-3 md:w-24 w-10" src="/assets/img/fnt-logo-ohne-schrift.svg" alt="Fenito"
                    title="Fenito"></a>
            <a class="fs-toggler md:hidden flex flex-col gap-1" role="button" x-on:click="open = !open" :class="open ? 'active' : 'not-active'">
                <span class="toggle-span"></span>
                <span class="toggle-span"></span>
                <span class="toggle-span"></span>
            </a>
        </div>
        <div class="bg-[#D1EBFF] md:bg-transparent py-4 px-12 z-10" x-show="open" x-collapse>
            <ul class="flex flex-col gap-8 md:flex-row">
            {{ nav:header }}
            <li><a href="{{ url }}"  class="text-xl hover:border-b-2 {{ if (current_url | contains('team')) && !(current_url | contains('team/')) }} hover:border-white {{ if is_current || is_parent }}text-[#2A93D5]{{ else }} md:text-white {{ endif }}{{ else }} hover:border-black {{ /if }} {{ if is_current || is_parent }}text-[#2A93D5]{{ endif }}">{{ title }}</a></li>
                {{ /nav:header }}
            </ul>
        </div>

    </div>
</nav>

<style>
    .fs-toggler {
        position: absolute;
        top: 1.8rem;
        right: 0.5rem;
        transform: translate(-50%, -50%);
        width: 1.6rem;
        cursor: pointer;
    }

    .toggle-span {
        display: block;
        width: 100%;
        border-radius: 3px;
        height: 0.25rem;
        background: #000;
        transition: all .3s;
        position: relative;
    }
</style>