<nav class="absolute top-0 left-0 w-full flex justify-between items-center px-20 py-5 {{ if (current_url | contains('team')) }} text-white {{ /if }}">
    <a href="/"><img src="/assets/img/fnt-logo-ohne-schrift.svg" alt="Fenito Logo" class="w-24" /></a>
    <div class="flex gap-10 uppercase list-none">
        {{ nav:header }}
            <li><a href="{{ url }}"  class="text-xl hover:border-b-2 {{ if (current_url | contains('team')) }} hover:border-white {{ else }} hover:border-black {{ /if }} transition ease-in-out {{ if is_current || is_parent }}text-[#2A93D5]{{ endif }}">{{ title }}</a></li>
        {{ /nav:header }}
    </div>
</nav>