<div style="background-image: url('/assets/img/background-fade.svg');" class="bg-cover bg-bottom bg-no-repeat">
    <div class="w-full h-screen flex justify-between items-center">
        <div class="flex flex-col max-w-lg gap-5 ml-32">
            <h1 class="font-bold text-7xl">Fenito Media</h1>
            <p class="text-xl text-gray-600"><em>"Bringing your vision to life, one frame at a time."</em></p>
            <p class="font-semibold"><span class="text-[#2A93D5]">Fenito Media</span> is an innovative video production company that creates compelling visual content for businesses and individuals.<br>Let us help you <span class="text-[#2A93D5]">tell your story with the power of a video.</span></p>
            <div class="mt-5 flex gap-10">
                <a href="/work" class="rounded text-white uppercase font-bold px-5 py-2 bg-[#2A93D5] shadow-lg">see our work</a>
                <a href="/contact-us" class="rounded text-[#2A93D5] uppercase font-bold px-5 py-2 border-[#2A93D5] border-2 box-border shadow-lg">contact us</a>
            </div>
        </div>
        <div class="w-1/2 flex justify-center items-center">
            {{ partial:showcase-cards }}
        </div>
    </div>
    <div class="h-screen flex justify-center">
        {{ partial:reference-slider }}
    </div>
</div>