<div class="mt-32 mb-10 flex flex-wrap md:flex-row flex-col">
    {{ projects }}
    {{ project }}
    <div class="text-white md:w-1/2 w-full aspect-video bg-center bg-no-repeat bg-cover cursor-pointer" style="background-image: url('{{ thumbnail }} {{ url }} {{ /thumbnail }}');">
        <a href="work/{{ slug }}">
            <div class="bg-black bg-opacity-50 w-full h-full opacity-0 hover:opacity-100 transition-opalcity flex justify-end items-start flex-col p-5">
                <h2 class=" text-xl">{{ title }}</h2>
            </div>
        </a>
    </div>
    {{ /project}}
    {{ /projects }}
</div>